@model ForumUser
@{
    ViewBag.Title = "GetUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetUser</h2>

<div class="user">
    <div>@Model.UserName</div>
    <div>@Model.Nick</div>
    <div>@Model.Role</div>
</div>

