<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="Stylesheet" type="text/css" href="style.css" />
</head>

<body>
    <div id="con">
        <header>
            <img src="minilogo.png" alt="logo"/>
            <h1>Polku<b>Forum</b></h1>
            <nav>
                <ul>
                    <li><a href="#">Dyskusje</a></li>
                    <li><a href="#">Artykuły</a></li>
                    <li><a href="#">Satyra</a></li>
                    <li><a href="#">Konto</a></li>
                    <li><a href="#">Kontakt</a></li>
                </ul>
            </nav>
        </header>
        <div id="main">
            <div id="left">
                <div id="account">
                    <div id="profile"></div>
                    <div id="user-data">
                        <p>Jan Kowalski</p>
                        <p>satyryk</p>
                        <div id="ua">
                          <div class="left">
                            <a href="#">Moje konto</a>
                            <a href="#">Dyskusje</a>
                          </div>
                          <div class="right">
                            <a href="#" class="right">Źródła</a>
                            <a href="#" class="right">Twórcy</a>
                          </div>
                        </div>
                    </div>
                    <button>wyloguj</button>
                </div>
                <div id="recom">
                    <div>Polecane dla Ciebie</div>
                    <div class="recom-con">
                        <a href="#">Dyskusja</a>
                        <div id="img"></div>
                        <div class="txt">
                            <p>TYTUŁ</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                        </div>
                    </div>
                    <div class="recom-con">
                        <a href="#">Artykuł</a>
                        <div id="img"></div>
                        <div class="txt">
                            <p>TYTUŁ</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                        </div>
                    </div>
                    <div class="recom-con">
                        <a href="#">Satyra</a>
                        <div id="img"></div>
                        <div class="txt">
                            <p>TYTUŁ</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                        </div>
                    </div>
                </div>
                <div id="mess">Wiadomości</div>
            </div>
            <div id="mid">

            </div>
            <div id="right">
                <div id="tod">
                    <a href="#">Temat dnia</a>
                        <div id="img"></div>
                        <div class="txt">
                            <p>TYTUŁ</p>
                            <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                        </div>
                </div>
                <div id="pop">
                    <a href="#">Popularne</a>
                    <div class="pop-con">
                        Dyskusja
                        <div>
                            <div class="img"></div>
                            <div class="img"></div>
                            <div class="img"></div>
                        </div>
                    </div>
                    <div class="pop-con">
                        Artykuł
                        <div>
                            <div class="img"></div>
                            <div class="img"></div>
                            <div class="img"></div>
                        </div>
                    </div>
                    <div class="pop-con">
                        Satyra
                        <div>
                            <div class="img"></div>
                            <div class="img"></div>
                            <div class="img"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div>
                <p>SATYRA</p>
                <ul>
                    <li><a href="#">Film</a></li>
                    <li><a href="#">Wiersz</a></li>
                    <li><a href="#">Rysunek</a></li>
                </ul>
            </div>
            <div>
                <p>ARTYKUŁY</p>
                <ul>
                    <li><a href="#">Njanowsze</a></li>
                    <li><a href="#">Popularne</a></li>
                    <li><a href="#">Źródła</a></li>
                </ul>
            </div>
            <div>
                <p>DYSKUSJE</p>
                <ul>
                    <li><a href="#">Najnowsze</a></li>
                    <li><a href="#">Popularne</a></li>
                    <li><a href="#">Kategorie</a></li>
                </ul>
            </div>
            <img src="logo.png"/>
        </footer>
    </div>
</body>
</html>
