<!DOCTYPE html>
<!--<DOCTYPE html/>-->
<html>
<head>
    <title>PolkuForum</title>
    <meta charset="UTF-8"/>
    <link rel="Stylesheet" type="text/css" href="style.css" />
</head>
<body>
    <div id="con">
        <header>
            <img src="minilogo.png" alt="logo"/>
            <h1>Polku<b>Forum</b></h1>
            <nav>
                <ul>
                    <li><a href="#">Dyskusje</a></li>
                    <li><a href="#">Artykuły</a></li>
                    <li><a href="#">Satyra</a></li>
                    <li><a href="#">Konto</a></li>
                    <li><a href="#">Kontakt</a></li>
                </ul>
            </nav>
        </header>
        <div id="main">
            <div id="left">
                <div id="account">
                    <div></div>
                    <div id="user-data">
                        <p>Jan Kowalski</p>
                        <p>satyryk</p>
                        <a href="#">Moje konto</a>
                        <a href="#">Dyskusje</a>
                        <a href="#">Źródła</a>
                        <a href="#">Twórcy</a>
                    </div>
                    <button>wyloguj</button>
                </div>
                <div id="recom">
                    <div>Polecane dla Ciebie</div>
                    <div>
                        <a href="#">Dyskusja</a>
                        <div id="img"></div>
                        <div class="txt">
                            <p>TYTUŁ</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div>
                        <a href="#">Artykuł</a>
                        <div id="img"></div>
                        <div class="txt">
                            <p>TYTUŁ</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div>
                        <a href="#">Satyra</a>
                        <div id="img"></div>
                        <div class="txt">
                            <p>TYTUŁ</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
                <div id="mess">Wiadomości</div>
            </div>
            <div id="mid">
            
            </div>
            <div id="right">
                <div id="tod">
                    <a href="#">Temat dnia</a>
                        <div id="img"></div>
                        <div class="txt">
                            <p>TYTUŁ</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                </div>
                <div id="pop">
                    <a href="#">Popularne</a>
                    <div>
                        Dyskusja
                        <div>
                            <div class="img"></div>
                            <div class="img"></div>
                            <div class="img"></div>
                        </div>
                    </div>
                    <div>
                        Artykuł
                        <div>
                            <div class="img"></div>
                            <div class="img"></div>
                            <div class="img"></div>
                        </div>
                    </div>
                    <div>
                        Satyra
                        <div>
                            <div class="img"></div>
                            <div class="img"></div>
                            <div class="img"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div>
                <p>SATYRA</p>
                <ul>
                    <li><a href="#">Film</a></li>
                    <li><a href="#">Wiersz</a></li>
                    <li><a href="#">Rysunek</a></li>
                </ul>
            </div>
            <div>
                <p>ARTYKUŁY</p>
                <ul>
                    <li><a href="#">Njanowsze</a></li>
                    <li><a href="#">Popularne</a></li>
                    <li><a href="#">Źródła</a></li>
                </ul>
            </div>
            <div>
                <p>DYSKUSJE</p>
                <ul>
                    <li><a href="#">Najnowsze</a></li>
                    <li><a href="#">Popularne</a></li>
                    <li><a href="#">Kategorie</a></li>
                </ul>
            </div>
            <img src="logo.png"/>
        </footer>
    </div>
</body>
</html>
